@media screen and (max-width: 1278px) {

    #modale-apercu section {
        width: 95%;
        margin: 0 auto;

    }



}

@media screen and (min-width: 1278px) {


    #main {
        margin: auto;
        width: 96em !important;
        /* background: red !important; */
    }



    #modale-apercu section {
        margin: auto;
        width: 85em !important;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        /* background: red; */
    }

}